<body>

    <center><h1>Your list:</h1></center>
    <center><p>Console: <%= @console.name %></p></center>
    <center><p>Brand: <%= @console.brand %></p></center>
    <center><p>Condition: <%= @console.condition%></p></center>
</body>