<form method="POST" action="/display_consoles">
<label for="name">Name of the Console:</label>
<p><input type="text" name="name" id="name"></p>
<label for="brand">Name of the Brand</label>
<p><input type="text" name="brand" id="brand"></p>
<label for="condition">Condition:</label>
<p><input type="text" name="condition" id="condition"></p>
<input type="submit" name="submit">
</form>